.itk-btn {
  background-color: var(--itk-color-primary);
  border: 0px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  padding: 1rem 2rem;
  transition: background-color 0.5s ease-in-out;
}

.itk-btn:hover {
  background-color: var(--itk-color-primary-dark);
}

/* Mobile Devices (< 600px) */
@media screen and (max-width: 599px) {
  .itk-btn {
    font-size: 12px;
    line-height: 12px;
    padding: 0.6rem 2rem;
  }
}